# Banco de dados criado para uma corretora de seguros
- Criado um banco de dados para uma corretora de seguros

# Desenvolvido por:
- Erick Damasceno
- Gustavo Pasqua
- Sávio Guimarães
- Gabriel Alves
